.accordion
{
	background-color: lightGray;
	padding: 10px;
}

.accordion .fa-angle-down
{
	float: right;
	font-size: 18px;
	text-align: center;
}

.accordion-header-color
{
	color: purple;	
	cursor: pointer;
	padding: 10px;
}

.accordion-header-color:hover
{
	color:blue;
}

.hline 
{ 
	width:100%;
	height:1px; 
	background: #000;	
}